/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

body{
    background-image: url('assets/images/background.jpg');
    background-size: cover;
}

@font-face{
    font-family: Cinzel;
    src: url('assets/fonts/cinzel/cinzel-regular.otf');
}

@font-face{
    font-family: NeoRetroDraw;
    src: url('assets/fonts/neo-retro-draw/neo-retro-draw-regular.ttf');
}

@font-face{
    font-family: ComicZine;
    src: url('assets/fonts/comic-zine/comic-zine-regular.otf');
}