<div>
    <app-data-switch-mode (changeOutput)="loadTasks()"></app-data-switch-mode>
    <mat-card>
        <mat-card-header>
            <mat-card-title>TODO List</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <app-task-include #include (addTaskEvent)="addTask($event)"></app-task-include>
            <app-task-list #list [tasks]="tasks"></app-task-list>
            <app-task-exclude *ngIf="list.selectedTasks.length" [selectedTasks]="list.selectedTasks" (removeTasksEvent)="removeTasks($event)">
            </app-task-exclude>
        </mat-card-content>
    </mat-card>
</div>